/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply font-sans bg-background text-foreground;

	.n2-ss-slide-background-image {
		.skip-lazy {
			@apply m-0 !important;
		}
	}
}

.nav__sticky {
	@apply fixed w-full py-4 mx-auto;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;

	.main__logo {
		max-width: 128px;
	}
}

#site-navigation {
	ul {
		@apply flex items-center gap-6 h-[74px];

		li {
			@apply flex items-center h-full;

			&.current-menu-item {
				a {
					@apply text-rrRed;

					&:after {
						background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23fc1a12' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
					}
				}
			}
			a {
				@apply text-white uppercase font-base;

				&:hover {
					@apply opacity-80;
				}
			}
		}

		&.sub-menu {
			@apply gap-6 px-6 pb-6 border-t-2 border-rrRed min-w-40 top-4;

			li {
				@apply h-auto mt-6;

				a {
					@apply no-underline;
				}
			}
		}
	}
}

#site-navigation ul li ul {
	display: none; /* Ocultar submenú por defecto */
}

#site-navigation ul li:hover > ul {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	display: block;
	height: auto;
	top: 100%;
}

#site-navigation ul li:has(ul) > a {
	@apply flex items-center;
}

#site-navigation ul li:has(ul) > a::after {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	display: block;
	content: "";
	font-size: 0.75em;
	margin-left: 0.5em;
	width: 20px;
	height: 20px;
}

.iziModal {
	bottom: auto !important;
	max-width: 100% !important;
	width: 100% !important;
}

.menuModal {
	@apply relative;
	.iziModal-content {
		@apply text-white;
		background-color: #343837;

		.modal__content {
			/* @apply px-7 !important; */

			p {
				@apply text-white;
			}

			img {
				width: 128px;
				height: auto;
				object-fit: cover;
			}

			ul {
				@apply ml-4 mt-5 text-left !important;

				li {
					@apply mt-3;
					list-style: none;

					.sub-menu {
						@apply hidden;
					}

					a {
						@apply text-lg font-semibold text-white visited:text-white;
						letter-spacing: 1px;
						transition: all 0.3s linear;

						&:hover {
							@apply opacity-80;
						}

						&:visited {
							@apply text-white;
						}
					}
					&.btn {
						@apply mt-7;
					}
				}
			}
		}
	}

	.modal__header {
		@apply absolute top-0 right-0 p-4;
	}
}

.iziModal-content {
	@apply px-4 pt-8 pb-12 !important;

	button {
		@apply bg-transparent border-0;
	}
}

.alignfull {
	@apply w-full mx-auto max-w-none px-4 !important;
}

.wp-block-jetpack-layout-grid {
	@apply container;
}

.wp-block-list {
	@apply flex flex-col gap-6 mt-8;
	li {
		@apply flex items-center gap-2 text-lg;
		&::before {
			@apply text-rrRed;
			content: "\2713"; /* Unicode para el checkmark */
			margin-right: 0.5rem; /* Espacio entre el checkmark y el texto */
		}
	}
}

.serviceItem {
	@apply relative h-[300px] flex items-center justify-center rounded-xl cursor-pointer overflow-hidden;

	&:after {
		@apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 rounded-xl;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.6s ease-in-out;
	}

	img {
		@apply absolute top-0 left-0 object-cover w-full h-full rounded-xl;
		transition: all 0.9s ease-in-out;
	}

	&:hover {
		&:after {
			@apply bg-opacity-50 bg-rrRed;
		}

		img {
			@apply scale-110;
		}
	}

	.serviceItem__title {
		@apply px-6 leading-tight text-center text-white uppercase text-title-5;
	}

	.btn {
		@apply relative z-50;
	}
}

.missionSection {
	@apply relative;

	&::after {
		@apply absolute bottom-4 lg:bottom-20 right-0 w-[200px] h-[250px] bg-cover bg-no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='488' height='488' viewBox='0 0 488 488' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='4' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='44' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='84' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='124' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='164' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='204' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='244' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='284' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='324' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='364' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='404' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='444' cy='484' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='4' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='44' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='84' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='124' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='164' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='204' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='244' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='284' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='324' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='364' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='404' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='444' r='4' fill='%23B1B1B1'/%3E%3Ccircle cx='484' cy='484' r='4' fill='%23B1B1B1'/%3E%3C/svg%3E%0A");
		content: "";
		position: absolute;
		z-index: -1;
	}
}

.ourTeam {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mt-0 text-white;
	}

	p {
		@apply text-white;
	}
}

@keyframes growshrink {
	20%,
	75% {
		transform: translateX(5px);
	}

	50% {
		transform: translateX(-15px);
	}
}

.hero__page__title {
	animation-duration: 5s;
	animation-name: growshrink;
	animation-iteration-count: 2;
}
