/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mijobrands-dynamic-listing {
	@apply py-10 lg:py-16 bg-[#262626];
	overflow-x: hidden;

	.listingSlider {
		@apply pb-12;
	}

	.content__cta {
		@apply pt-8 pb-2 lg:pt-0;
		position: relative;

		&:before {
			background-color: #F57F43;
			content: '';
			display: block;
			height: 64px;
			width: 16px;
			position: absolute;
			transform: skew(15deg, 0);
			top: 0;
			left: 30px;
		}

		@screen lg{
			&:before {
				height: 64px;
				width: 16px;
				top: 0;
				left: 0px;
			}
		}

		.cta__title {
			@apply pl-16 lg:pl-0 mt-0 lg:mt-1 font-normal;
		}
	}

	.wp-block-button__link {
		@apply inline-flex items-center gap-0 lg:gap-4 px-4 py-[10px] text-sm  leading-none rounded-3xl text-white lg:px-5;

		background-color: transparent;
		border:1px solid #F57F43;
		border-radius: 20px;
		font-weight: 500;
		letter-spacing: 1px;
		text-decoration: none;

		&:hover {
			background-color: #F57F43;
		}
	}
}

.item-blog {
	@apply bg-cover bg-center bg-no-repeat flex items-end p-4 cursor-pointer;
	height: 280px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;

	.content {
		@apply w-full p-4 relative;
		background-color: rgba(0,0,0,0.7);
		font-size: 14px;
		font-weight: 500;

		.link {
			color: #F57F43;
			font-weight: bold;
			letter-spacing: 0.5px;
		}
	}

	&:hover {
		transform: scale(1.1)
	}
}

.item-product {
	@apply px-4;
	min-height: 320px;

	.content {
		@apply flex justify-center items-center flex-col;
		img {
			@apply m-0 w-full;
			height: 200px;
			object-fit: contain;
		}
	}


	.product__title {
		font-weight: bold;
		margin: 1rem 0;
	}
}


.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;
	padding-bottom: 3rem;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
	overflow: hidden;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9586 21L1.87106 12.9532C0.652004 11.7342 0.759845 10.1212 1.89927 8.98178L10.9584 1' stroke='%23F57F43' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.slick-prev {
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9586 21L1.87106 12.9532C0.652004 11.7342 0.759845 10.1212 1.89927 8.98178L10.9584 1' stroke='%23F57F43' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.8;
	}
}

[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.slick-next
{
    right: -25px;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L10.0876 9.04678C11.3066 10.2658 11.1988 11.8788 10.0594 13.0182L1.00022 21' stroke='%23F57F43' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L10.0876 9.04678C11.3066 10.2658 11.1988 11.8788 10.0594 13.0182L1.00022 21' stroke='%23F57F43' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 36px;
    line-height: 1px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #D9D9D9;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #F57F43;
}
